.Heading{
    height: 60px;
    background-color: whitesmoke;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    color: black;
}
.Heading h2{
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 300;
    font-size: 20px;
    color: #666;
}

.form-group{
    border: 1px solid lightgray;
    width: 90%;
    margin-left: 50px;
    margin-top: 30px;
    padding: 20px;
}
.btn{
    width: 100px;
}